# Olympic Analysis Part 1

## Supporting Material
- Workbooks contained within this directory are *Olympic_analysis_complete.ipynb* and *Olympic_analysis_skeletal.ipynb*. It is intended that you work through the skeletal notebook using the vidoes (discussed below) as you wish.
- Where ever there are .... in the sketetal notebook it is intended that you will the spaces with Python Code. If you are unsure go to the video or the complete notebook for the answer.
- In the directory there are videos that walks through the solutions step by step as you work through the workbook. 
- Please note in Python / Pandas there are many methods to produce results. The solutions here are educiational and there could be more efficient methods to achieve the same goal

## Background
This workbook is designed to improve your ability to use pandas and explore data to get insights. This first notebook will be on cleaning the data and exploring descriptive analytics. In later sections we shall explore predictive analytics on this dataset.
The main dataset contains every athlete who partook in the modern olympic games. We shall bring in other datasets such as National Olympic Code and regions as well GDP

## Sections

- Explore and Clean the data
- Data Visualisation : Partitipation by year for summer and winter games
- Data Visualisaiton : Particpation in the summer games by gender
- Data visualisation : Countries with the most participation at the games
- Data visualisation : Investigate which country hosted the most games
- Data visualisaton : Participation by geographic location
- Medal Count analysis 
- Team size and medal Count

In [ ]:
from olympics_answers import Answers as ans
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

### Explore and clean the data

In [ ]:
df =  ......................#  load in 'athlete_events.csv' using pandas csv read method. Call this dataframe df
noc = ................... #  load in noc_regions.csv using pandas csv read method. Call this dataframe noc

Use Python Pandas Methods info head and descrive to explore both the datasets

In [ ]:
................ # use the .info method on df

In [ ]:
.............. # use the .describe method to get infomation on  numerical data

In [ ]:
............... # use the .head() method to get the first 5 rows

<div class="alert alert-block alert-warning">
<b>Question</b>
q1 what is the age of the 5th record?<br>
</div>

In [ ]:
# q1 what is the age of the 5th record 
# ans.q1_check_answer()
# ans.q1_get_answer()

<div class="alert alert-block alert-warning">
<b>Question</b>
q2 How many columns are there in the df dataset?<br>
</div>

In [ ]:
# q2 How many columns are there in the df dataset
# ans.q2_check_answer()
# ans.q2_get_answer()

<div class="alert alert-block alert-warning">
<b>Question</b>
q3 What is the maximum age of the athlete ?<br>
</div>

In [ ]:
# q3 What is the maximum age of the athlete ?
# ans.q3_check_answer()
# ans.q3_get_answer()

<div class="alert alert-block alert-warning">
<b>Question</b>
q4 Investigate the records where the athlete was aged over 73. What sport did they do?<br>
</div>

In [ ]:
# q4 Investigate the records where the athlete was aged over 73. What sport did they do?

df[.......... > 73] # filter the df dataframe on the age column greater than 73

# ans.q4_check_answer() # enter the sport as a string into the brackets
# ans.q4_get_answer()

In [ ]:
.......  # use .info method to get infomation on noc

In [ ]:
......... # # show first 5 records of noc.


<div class="alert alert-block alert-warning">
<b>Question</b>
q5 How many unique Country codes are there in both datasets?<br>
</div>

In [ ]:
...... , .......... #get the number of unique country codes for  each dataset . Explore the nunique function https://www.w3schools.com/python/pandas/ref_df_nunique.asp#:~:text=The%20nunique()%20method%20returns,unique%20values%20for%20each%20row.

In [ ]:
# ans.q5_check_answer()
# ans.q5_get_answer()




<div class="alert alert-block alert-warning">
<b>Question</b>
q6 How many unique regions are in the dataset? <br>
</div>

In [ ]:
....... # Check the number of unique regions in the noc dataset

In [ ]:
# q6 : How many unique regions are in the noc dataset?
# ans.q6_check_answer()
# ans.q6_get_answer()


<div class="alert alert-block alert-warning">
<b>Question</b>
q7  Can you explain why there are multiple NOC codes for every region ? <br>
</div>

In [ ]:
print(.....) #  look at the value_counts for the region in noc . https://www.w3resource.com/pandas/series/series-value_counts.php
.....  # try filtering the noc dataframe to only return region as Germany

In [ ]:
# q7 : Can you explain why there are multiple NOC codes for every region
# ans.q7_get_answer()


<div class="alert alert-block alert-warning">
<b>Question</b>
q8   Are there duplicates in the dataset? If so how many duplicate records are there? <br>
</div>

In [ ]:
# explore the .duplicated method. Attach a .sum() on the end of duplicated in order to get the total number 
# of duplicated records .  https://www.w3schools.com/python/pandas/ref_df_duplicated.asp#:~:text=Definition%20and%20Usage,considered%20when%20looking%20for%20duplicates.
.....

In [ ]:
# q8 : Are there duplicates in the dataset? If so how many duplicate records are there
# ans.q8_check_answer()
# ans.q8_get_answer()

In [ ]:
..... #  apply the drop duplicates methods on the frame df. Either reassign df to be this value or use the inplace keyword and set to True https://www.w3schools.com/python/pandas/pandas_cleaning_duplicates.asp


<div class="alert alert-block alert-warning">
<b>Question</b>
 q9 how many records remian after dropping duplicate records?<br>
</div>

In [ ]:
# q9 how many records remian after dropping duplicate records
# ans.q9_check_answer()
#ans.q9_get_answer()

Drop columns that you will not use in the analysis. In this case this is going to be the *notes* section from noc

In [ ]:
..... #  use the drop method in pandas . remember to use inplace keyword https://www.w3schools.com/python/pandas/ref_df_drop.asp

<div class="alert alert-block alert-warning">
<b>Question</b>
 q10 Which field is the primary key of the noc table and the foreign key of the df table? <br>
</div>

For our analysis later on we are going to want to see both the region next to each record. We therefore are going to have to use a command to join the two tables based on a common value

In [ ]:
# q10 Which field is the primary key of the noc table and the foreign key of the df table?
# ans.q10_check_answer()
#ans.q10_get_answer()

## onne to many on to one 
# validate

In [ ]:
 #  join the tables on the primary and foreign key. use a left join in the method merge. 
    # https://www.w3schools.com/python/pandas/ref_df_merge.asp
data = pd.merge(......,noc,how='left',on='NOC', validate = "........")

In [ ]:
data........()..........() #  find null values in the dataset. Find the amount of null values for each column. use isnull method. Remeber to sum these to get a count of them


<div class="alert alert-block alert-warning">
<b>Question</b>
q11 How many Null values are there in the height column? <br>
</div>

In [ ]:
# q11 How many Null values are there in the height column?
# ans.q11_check_answer()
#ans.q11_get_answer()

The Null values in the medal column do not represent missing data. They just show the fact that not all athletes one a medal.
Lets therefore change the name of these null values to 'DNW' short for did not win

In [ ]:
data['Medal'].replace(........) # use the replace method to replace Null values in medal table. Use np.NaN for Nill values. Change them to "DNW" .https://www.w3schools.com/python/ref_string_replace.asp

In [ ]:
..... # visualise the data with .head to confirm the change is there

Many of the NOCs have multiple team names. Produce an output of the number of team names per noc. \



<div class="alert alert-block alert-warning">
<b>Question</b>
q12 How many team names does FRA have? <br>
</div>

In [ ]:
# select all rows and ['NOC', 'Team'] columns using the loc command. Remove duplicates. Select only NOC column apply value_counts to get the frequency of team names per country
data.loc[....., ['.....', '.......']]..............()['.......'].value_counts()

In [ ]:
# q12 How many team names does FRA have?
# ans.q12_check_answer()
#ans.q12_get_answer()

We discovered there that there are many team names for each NOC. However we do not need the team name as long as we have a region. We therefore are going to look at what region names are missing and then replace a missing value with one of the team names



<div class="alert alert-block alert-warning">
<b>Question</b>
q13 How many NOC codes do not have a region name ? <br>
</div>

In [ ]:
data.loc[   .......  ,['NOC', 'Team']].drop_duplicates() # select the data using loc command where the region is null, and show only the NOC and Team columns. 
# Drop duplicates of this output and apply the value_counts method

In [ ]:
# q12 How many NOC codes do not have a region name 
# ans.q13_check_answer()
#ans.q13_get_answer()

Are there any countries that do not have a region assosiated with them. If there are we can use one of their team names to replace the missing region. Let's investigate this

In [ ]:
data['region'] = np.where(data['NOC']=='SGP', 'Singapore', data['region'])
data['region'] = np.where(data['NOC']=='ROT', 'Refugee Olympic Athletes', data['region'])
data['region'] = np.where(data['NOC']=='TUV', 'Tuvalu', data['region'])
data['region'] = np.where(data['NOC']=='UNK', 'Unknown', data['region'])

In [ ]:
..... # view the data using .head()

We now do not need team name so we can delete the team namae

In [ ]:
......  # drop team name from the data dataframe. Remeber to use the inplace method.

We may wish to do some analysis on the host country so we need to add in a host country column and add values to it.
Below I have a dictionary of cities and countries that can be used

In [ ]:
country_dict = {'Athina':'Greece',
                'Paris':'France',
                'St. Louis':'USA',
                'London':'UK',
                'Stockholm':"Sweden",
                'Antwerpen':'Belgium',
                'Amsterdam':'Netherlands',
                'Los Angeles':'USA',
               'Berlin':'Germany',
                'Helsinki':'Finland',
                'Melbourne':'Australia',
                'Roma':'Italy',
                'Tokyo':'Japan',
                'Mexico City':'Mexico',
                'Munich':'Germany',
                'Montreal':'Canada',
                'Moskva':'Russia',
                'Seoul':'South Korea',
               'Barcelona':'Spain',
               'Atlanta':'USA',
               'Sydney':'Australia',
               'Beijing':'China',
               'Rio de Janeiro':'Brazil'}

In [ ]:
data['Host_Country']=data['City'].map(............) # create a 'Host_Country' column and map the values from city in the data table to the country dic
data.head() # view the top of the data

In [ ]:
# rename the region column to "Country". Use the rename method and remember to keep inplace as True
data.rename(..............)

## *Initial data cleaning complete*

### Athlete participation by year for summer and winter games

View first 5 records of winter games and in 2 cells below summer games

In [ ]:
data[data['Season'] == "Winter"].head() # view winter games using head

In [ ]:
................. # view summer games using head

<div class="alert alert-block alert-warning">
<b>Note</b>
There are many ways to plot the same graph in Python. For these first plots we plot usin gmatplotlib however  you also know how to plot using seaborn and using plt directly from the dataframe. Feel free to plot using the method that most suites you  <br>
</div>



<div class="alert alert-block alert-warning">
<b>Question</b>
q14 : Produce a plot that contains x axis of year and number of particiapnts on the y axis ? <br>
</div>

In [ ]:
data[data['Season'] == ......].groupby(by  = ......).nunique()# group the data by year for  summer 
.................   # group the data by year  winter
.........................reset_index() # reset the index for the summer data
........................... #reset the index on the winter frame

In [ ]:
# Plot your graph here 
# Assign the last line of the last dataframe to df
df = ......................
plt.plot(df.Year, df.ID, '.-', linewidth = 2, marker = 10)
plt.xlabel('Year')
plt.ylabel('No Competitors')

# Assign the penultimate line of the last dataframe to df
df = ......................
plt.plot(df....., df........., '.-', linewidth = 2, marker = 10)
plt.xlabel('Year')
plt.ylabel('No Competitors')
plt.legend(['.....', '..........'])
fig = plt.gcf()
fig.set_size_inches(10, 6)

In [ ]:
# q14  run this cell to see the example plot 
ans.q14_get_answer(data)

### Participation in the summer games by gender

In [ ]:

data[(data['Season'] == "Summer") & (..........')] # filter data by season to summer and sex to male 
.................. .groupby(by  = 'Year').nunique() # group the previous answer by year by number of  unique values 

# # reset the index and select on 'Year' and 'ID' of previous answer
data[(data['Season'] == "Summer") & (data['Sex'] == 'M')].groupby(by  = 'Year').nunique()...........[[........,   ...........]] 

# # rename the id column to particpants of the previous answer 
......................rename(columns = {'ID':'............'})




<div class="alert alert-block alert-warning">
<b>Question</b>
q15 How many males were there in the year 1906? <br>
</div>

In [ ]:
# Use this cell to repeat this process to show pariticpation by year for female athletes

In [ ]:
# q15 How many males were there in the year 1906
# ans.q15_check_answer()
#ans.q15_get_answer()



<div class="alert alert-block alert-warning">
<b>Question</b>
 **q 16** : Plot a graph of male and female particpation against year? <br>
</div>

In [ ]:
# create a temporary dataframe for the partipation by year of male athletes ( copy the last line of code from 4 cells above)
df = ...........
plt.plot(df......, df........ , color='b',marker='o',label='Male Athletes')# plot year against participants columns

# create a temporary dataframe for the partipation by year of female athletes ( copy the last line of code from 2 cells above)
df = ..............
plt.plot..................... # use plot example above to help here 

plt.ylabel(...........) # y axis label . eneter as a string
plt.legend(loc='upper left')
plt.title("......................") #plot title enter as a string

In [ ]:
# Show grpah for q16
ans.q16_check_answer(data)

### Countries with the most participation at the games

In [ ]:
..............groupby(by = 'Country').nunique()  # filter data by summer games then  group by country aggregating by number of unique values
# Take the output of the last line reset the index to make country a column again
...................reset_index() 
 # Select only the year and country column from the output of the last line
...............................[[......., ...]]
# sort the data from the last step by year ascending true.
...............sort_values('Year', ascending = .......)
# rename year 'Num_countries' and show the top 60 countries . start with the output of the last line of code. You can use the \ here to break a line if needed. 
............................... \
..................................(columns ={'.....r' : '...........s'}).head(60)


<div class="alert alert-block alert-warning">
<b>Question</b>
q17 :Plot a graph of number of editions to the games (number of olympics a country has attended) on y axis and top 6 countries on the x axis? <br>
</div>

In [ ]:
# q 17 Plot the figure here - bar plot of top 60 countries on x year on y

# create a temp dataframe called df that will equal the last line of your last cell
df = .........................
fig = plt.figure(figsize = (15, 10))
plt.bar(.........  , ..........,color=sns.cubehelix_palette(60,start=4,rot=-.005,reverse=True)) # plot country against num_countries
plt.gca().invert_yaxis()
plt.xticks(rotation=90)
plt.xlabel('Country')
plt.ylabel('Number of Editions')
plt.title('Countries with Most Participation')
plt.gca().invert_yaxis()

In [ ]:
# Show grpah for q17
ans.q17_check_answer(data)

### Investigate which country hosted the most games?


<div class="alert alert-block alert-warning">
<b>Question</b>
q18 :plot a bar graph of country against frequency of hosting the games? <br>
</div>

In [ ]:
# plot a bar graph of country against frequency of hosting the games

# select only summer games with a filter and the select year and host country columns and drop duplicate entries Call this df
df = ...............[['.......','.............']].drop_duplicates()  # 
# use a countplot set y to the Host_country, the data to hosts and the order to hosts['Host_Country'].value_counts().index
sns.countplot(y='.............',data=df,order = df['Host_Country'].value_counts().index,
              palette=sns.cubehelix_palette(20,start=5,rot=-.25,reverse=True))
plt.xlabel('Frequency of hosting')

In [ ]:
# Show grpah for q18
ans.q18_check_answer(hosts)

## Athlete participation by country

### The task is to plot the number of particpants by their location on a world map from 1920 compared to 2016

Bring in the function get bounding box country from our answers script

In [ ]:
from olympics_answers import OlympicToolKit as otk

In [ ]:
countries = list(................)#  get the number of unqiue countries from summer games only. Filter by season and use unique()

<div class="alert alert-block alert-warning">
<b>NOTE</b>
If the cell below throws an error it could be a permissions issue. If this is the case move onto the section investigating medals and the olympcs
</div>

In [ ]:
from tqdm import tqdm #  package for progress bars
long = [] # empty list to store country longitude
lat = [] # empty list to store country latitude 

for i in tqdm(range(len(countries))):
    country = countries[i]
    try:
        coord = otk.get_boundingbox_country(country)
        long......... # append coord[0] to long list
        lat........... # append coord[1] to lat list
    except:
        lat.append(np.NaN)
        long.append(np.NaN)

In [ ]:
# create a dataframe called long_lat with the data from countries, long ,and lat list and columns =  ['Country', 'long', 'lat']
long_lat = pd.DataFrame({'Country': countries, 'long': long, 'lat': lat},columns = ['.......', '....', '........'])

<div class="alert alert-block alert-warning">
<b>Question</b>
q19 :Count how many countries we do not have coordinates for? <br>
</div>

In [ ]:
# Count how many countries we do not have coordinates for
long_lat[.............isna()].count()


# ans.q19_check_answer()
#ans.q19_get_answer()

The countries we do not have coordinates we are going to drop for this analysis

In [ ]:
long_lat............ # drop the records in long lat that we do not have coordinates for . ie drop null wavlues . set inplace = True

We now need to join these countries to the amount of participants in the year 1920 and the year 2016

In [ ]:
 #  create a new dataframe where you group data by year and country to get year and participant number
# Depending on your method you will probably have to reset the index. 
particpants = data.groupby(by = ['......', '..........'])[['...........']]...........().reset_index()

In [ ]:
part = pd.merge(.........., .........., on =..........) #  merge particpants onto longlat
part_1920 = part[part['Year'] == 1920] # filter on 1920
part_2016 = ............... # filter on 2016
part_1920.rename(columns = {'ID': 'participants'}, inplace = True) #  rename ID participants
part_2016................................#  rename ID participants

In [ ]:
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(20, 10))
plt.subplots_adjust(left=0.02, right=0.98, top=0.98, bottom=0.00)

m = Basemap(projection='robin',lon_0=0, resolution='c')
m.fillcontinents(color='gray',lake_color='white')
m.drawcoastlines()


x, y = m(part_1920.lat, part_1920.long)
part_frame_1920 = pd.DataFrame({'x': x, 'y': y, 'participants': part_1920.participants.values}, columns = ['x', 'y', 'participants'])
x, y = m(part_2016.lat, part_2016.long)
part_frame_2016 = pd.DataFrame({'x': x, 'y': y, 'participants': part_2016.participants.values}, columns = ['x', 'y', 'participants'])

plt.scatter(
    x = part_frame_1920.x, 
    y = part_frame_1920.y, 
    s= part_frame_1920.participants, 
    c=part_frame_1920.participants, 
    cmap="Accent", 
    alpha=0.6, 
    edgecolors="white", 
    linewidth=2);
plt.colorbar()
plt.title('Number of Participants 1920')
plt.show()

fig = plt.figure(figsize=(20, 10))
plt.subplots_adjust(left=0.02, right=0.98, top=0.98, bottom=0.00)

m = Basemap(projection='robin',lon_0=0, resolution='c')
m.fillcontinents(color='gray',lake_color='white')
m.drawcoastlines()

plt.scatter(
    x = part_frame_2016.x, 
    y = part_frame_2016.y, 
    s=part_frame_2016.participants, 
    c=part_frame_2016.participants, 
    cmap="Accent", 
    alpha=0.6, 
    edgecolors="white", 
    linewidth=2);
plt.colorbar()
plt.title('Number of Participants 1920')
plt.show()

## Investigating medals at the olympic games

In [ ]:
medals = data[ (data['Season'] == 'Summer') & (........... != 'DNW')] #  create a new dataframe that only contains the records where athletes won medals from summer games
medals.head()

It is suspected that for the team events more than one medals are given out. We do not want to count these when counting medal tally per country. So we need to find which are these team events

In [ ]:
medals[..........] = 1 # # create a new column in medals called 'Medal_Won' and assing it the value 1

In [ ]:
# Q 20
# create a pivot table called team events that has columns of Medal, Country, Year, Event, Bronze, Gold, Silver
# index = ['Country', 'Year', 'Event']
#columns = 'Medal',
#values = 'Medal_Won', 
#aggfunc = 'sum'
team_events = pd.pivot_table(medals,index = .........., columns = ........., values = ..........., aggfunc = 'sum')
team_events............ # reset the index of your pivot table
team_events............ # use fillna to convert na values to 0

In [ ]:
# Q20 # create a pivot table called team events that has columns of Medal, Country, Year, Event, Bronze, Gold, Silver. 
# What country won the Bronze Medal for Taekwondo Men's Flyweight in 2008?
# ans.q20_get_answer() # enter answer as string

We can now tell if it is a team event by looking at all events where the medal tally is greater than 1

In [ ]:
list_team_events = list(team_events[.........['Event']........ )# create a list of team events. filter by gold greater than 1 then select unique events
del team_events #  clean up the work space by getting rid of team events using del variable

<div class="alert alert-block alert-warning">
<b>Question</b>
q21 : How many unique team events are there ? </div>

In [ ]:
# q21 : How many unique team events are there
# ans.q21_check_answer()
# ans.q21_get_answer(medals)

We now need to adjust the medals table so that we have a proxy column for team sport and individual. 
If the event was a team sport it will take a value of 1 in the team sport colum and 0 in individual
If the event was a indivdual sport it will take a value of 0 in the team sport and 1 in the individual

In [ ]:
# we will use numpy where function for this problem
# lets look at this first 
print(np.where(medals.Event == "Tug-Of-War Men's Tug-Of-War", 1, 0) )
# The synteax of np.where. First argument is to evaluate a boolean, the second argument is the value you want if evluates to True and the third
# argument is if the expression evalutates to be False.

In [ ]:
# The map function can be used to evaluate a function for each record in a dataframe

# The lambda function can be used to evaluate afunction to true or false depending on if an event is in list team sport 

# Use np. where wrapped around a map function that contains a lambda function that sets values to be either 1 or 0 if the expression is true or false. 

medals['Team_Event'] = np.where(medals.Event.map(lambda x: .... in .....  ), 1, .....)
medals['Individual_Event'] = np.where(medals.Team_Event, ......, ......)
medals

In [ ]:
# We are going to make a medals tally
# It is possible that in the same year noc country sport event and medal type that two athletes received the same medal even in individual event. 
# This can happen where athletes are tied for equal position. 
# This is shown in one case below
medals[(medals['Year'] == 1896) &
       (medals['Country'] == 'Greece') &
       (medals['Sport'] == "Fencing") &
      (medals['Event'] == "Fencing Men's Foil, Individual") ]

<div class="alert alert-block alert-warning">
<b>Question</b>
q 22 Which country has the highest total medal tally in all time. Submit it as a string of the NOC ? </div>

In [ ]:
#q 22 Which country has the highest total medal tally in all time. Submit it as a string of the NOC

# Given what we found above where two athletes can receive the same medal in same event we need to group our data bu the following columns
#['Year', 'NOC', 'Country','Sport','Event', 'Medal', 'Sex']
# Pick the correct aggregation function
# reset the index at the end of it 
# name this result medal_tally
# set this inplace to True

medals_tally = medals.groupby(..........).agg(........).reset_index()

# When it is a team event we shall expect the medal won to be greater than one and the team event will also be the same value. We want this to be counted as one country medal
# To calculate the total medal count we can introduce a new column called medal count that will be the sum of medal_won / medals_tally added to the individual event

medals_tally['Medal_Count'] = ....................
# view medals_tally using .head()
medals_tally.head()

In [ ]:
# q22 continued
# TO work out which country has the most tally we need to group by country and order by medal count
# set this inplace to True
medals_tally.groupby(..........).....()[['.........']].reset_.....().sort_.....(by = 'Medal_Count', ascending =....., implace = ....)

# q22 How many males were there in the year 1906
# ans.q22_check_answer()
# ans.q22_get_answer()

<div class="alert alert-block alert-warning">
<b>Question</b>
q 23 plot the top 10 highest coutnries by their medal count ? </div>

In [ ]:
# q 23 plot the top 10 highest coutnries by their medal count
top_countries = ............head(10)
top_countries.plot(.............,legend=None,figsize=(10,6),color=sns.cubehelix_palette(10,reverse=True))
plt.xticks(rotation=60)
plt.xlabel('Country')
plt.ylabel('Medals')
plt.title('Medals by Country')


# ans.q23_check_answer(medals_tally)

### Is there an advantage to being the host nation?

To investigate this we shall look at the total medals won by the host nation at their games compared to the games before

In [ ]:
# create a table called grouped_medals. This will be the medals tally grouped by ['Year', 'Country', 'Medal_Count'] using agg sum .  Remember to reset the index . Should be a table of year country and medal count columns
grouped_medals  = pd.DataFrame(medals_tally.groupby(.......)['..........'].........()............())

In [ ]:
# create a table with columns of year host country and country from the data table season = summer. Create this from the summer table and drop any duplicate values accross these columns
host_nations = data[data['Season'] == 'Summer'][['....', '.....',  '.......']].drop_duplicates()
# overwrite host_nations with a df that only contains entries to host df where the host country equaled the country
host_nations = ost_nations.loc[host_nations['.............'] == .................]
host_nations['Prev_Year'] = host_nations['Year'] ............         # add a column for the previous 4 years 
host_nations['Next_Year'] = host_nations['Year'] + 4 # add a column for the next 4 years 

# create a df called host medals. This will be created from merging host nations with  grouped medals on both the year and country 
host_medals = host_nations.merge(........, on =['.......','......'], how='left') 
# # rename 'Medal_Count_x' to 'Medal
host_medals.rename(columns = {'.......':'..........'},inplace=True)
# now merge this host_medal df with grouped medals but on left_on=['Prev_Year','Country'],right_on=['Year','Country']
host_medals = host_medals.merge(.............., left_on  .........,right_on= ............,how='left')

# drop the column year_y it is not needed . set this inplace = True
host_medals.drop....................
# # rename host medals Year_x to year and Medal_Count to 'Medal_Count_Prev'. Set this inplace
host_medals........................

# Repeat this process to add on the next year
# merge the host_medals table to the medals_grouped dataframe connecting the left on left_on=['Next_Year','Country'],right_on=['Year','Country']
host_medals = ...................
# Remove the year_y column
host_medals..................
# rename {'Year_x': 'Year','Medal_Count':'Medal_Count_Next'}
host_medals......................

host_medals.head()

In [ ]:
# remove the ['Prev_Year','Next_Year'] from the host medals table
host_medals.drop(['.............','..........'],axis=1,inplace=True)

In [ ]:
host_medals = host_medals.................('Year') # sort the host medals table by year and look at the results
host_medals

In [ ]:
host_medals.d............. # drop nan in this dataset. inplace set to True
host_medals['Avg'] = host_medals.apply(lambda ..... : (.....['Medal_Count_Prev'] + ......['Medal_Count_Next']) /2, axis = 1) # create a column that is the average medal count between previous and next games
host_medals['Perc_Increase_Host'] = 100*(.......... - ..............) / .............. # create a percentage difference 
host_medals................. # get the mean of perc_increase_host

<div class="alert alert-block alert-warning">
<b>Question</b>
q24 What is the average percentage increase in medals between the host nation and their medals as an average for games either side of the host games input as an integer?? </div>

In [ ]:
# q24 What is the average percentage increase in medals between the host nation and their medals as an average for games either side of the host games input as an integer?
# ans.q24_check_answer()
# ans.q24_get_answer()

<div class="alert alert-block alert-warning">
<b>Question</b>
q 25 Do we see an increase in medal count for the games after being host compared to before? </div>

In [ ]:
 # q 25 Do we see an increase in medal count for the games after being host compared to before?
# On average what is the percentage difference of medals after hosting a games relative to before?
host_medals['Perc_Increase_after_before'] = ............................ # create a percentage difference 
host_medals.....................       # calculate the mean

# ans.q25_check_answer() # enter as integer
# ans.q25_get_answer() # enter as integer

### Investigate if there is a relationship between team size and medal count?

In [ ]:
# group data from summer games  by country and year using a nunique aggregation function on ID column and reset the index
team_size = data[data['Season'] == 'Summer'].groupby(..........).nunique()[['ID']].r..........() 
# rename the columns 'ID' to 'Team_Size'
team_size = team_size.rename(..............)
# group the medals tally by country and year using a sum aggregate function
grouped_medal_tally = ............................
# reset the index of grouped medal tally
grouped_medal_tally.reset................
# select the following columns from the grouped medal tally ['Country', 'Year', 'Medal_Count']
grouped_medal_tally = ......................
# join grouped medal tally onto team size using an outer join on country and year
team_size = .................merge(........., on =['Country', 'Year'], how = 'outer')
# replace values in medal count that are np.NaN to 0
team_size['Medal_Count'] = ..............replace(np.NaN, 0)
# observe output using .head()
team_size.head()

<div class="alert alert-block alert-warning">
<b>Question</b>
q26 Plot a scatter graph of team size against medal count? </div>

In [ ]:
# q26 Plot a scatter graph of team size against medal count
# kind is scatter graph 
# x is team size and y is medal count
team_size.plot(kind = '.........', x = '........',  y = '.....', cmap = 'winter', alpha = 0.3)
# q26_get_answer(team_size)

# Summary

In this workbook we have used numerous pandas functions in order to gain insights into the participants and the countries who participate at the olympics. 
In the next notebook we will investigate if we can make predictions on a countries medal count based on some of the analysis we have done